#mythButton::before{

    content:attr(data-text);

    position:absolute;

    inset:0;

    color:transparent;

    pointer-events:none;

    background-image:

        linear-gradient(

            180deg,

            rgba(255,255,255,.55),

            rgba(255,255,255,0)

        );

    -webkit-background-clip:text;
    background-clip:text;

    transform:

        translateY(2px);

    opacity:.55;

}

#mythButton:hover{

    filter:

        brightness(1.04)

        drop-shadow(0 0 10px rgba(255,255,255,.12))

        drop-shadow(0 12px 26px rgba(0,0,0,.42));

}

#mythButton{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:.02em;

    flex-wrap:nowrap;

}

#mythButton span{

    display:inline-block;

    transition:.8s;

}

#mythButton span:nth-child(1){

    transform:
        rotate(-5deg)
        translateY(-3px);

}

#mythButton span:nth-child(2){

    transform:
        scale(1.06,.93);

}

#mythButton span:nth-child(4){

    transform:
        rotate(3deg);

}

#mythButton span:nth-child(5){

    transform:
        translateY(4px);

}

#mythButton span:nth-child(6){

    transform:
        rotate(-2deg);

}

#mythButton span:nth-child(8){

    transform:
        scaleY(1.08);

}

#mythButton span:nth-child(10){

    transform:
        rotate(4deg);

}

#mythButton span:nth-child(11){

    transform:
        translateY(-2px);

}

#mythButton span:nth-child(12){

    transform:
        rotate(-3deg);

}

#mythButton span:nth-child(13){

    transform:
        scale(.96,1.08);

}

#mythButton{

    animation:

        mythFlow 28s linear infinite;

   text-shadow:

0 1px 0 #ffffff,

0 2px 0 #f8f8f8,

0 3px 0 #efefef,

0 4px 0 #e5e5e5,

0 10px 18px rgba(0,0,0,.28);

}

#theoScene{

    position:fixed;

    inset:0;

    z-index:10000;

    display:none;

    overflow:hidden;

}


#theoViewport{

    width:100%;

    height:100%;

}


#theoClose{

    position:absolute;

    top:30px;

    right:40px;

    z-index:2;

    background:none;

    border:none;

    color:white;

    font-size:40px;

    cursor:pointer;

}

@media (max-width:768px){

    #theoViewport canvas{

        transform:scale(.82);

        transform-origin:center center;

    }

}

#theoCaption{

    position:absolute;

    left:50%;

    bottom:40px;

    transform:translateX(-50%);

    text-align:center;

    color:var(--gold);

    letter-spacing:.35em;

    text-transform:uppercase;

}


@media(max-width:768px){

    #theoCaption{

        bottom:25px;

        font-size:.75rem;

        letter-spacing:.25em;

    }

}

#theoClose{

    margin-left:20px;

    background:none;
    border:none;

    color:var(--gold);

    font-size:28px;

    cursor:pointer;

}
